{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>App</title>
    <!-- Incluez des liens vers vos fichiers CSS ici -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body style="background-color: rgb(178, 189, 219);">

    <div class="container-fluid mt-5" style="max-width: 65%; flex: 1;">
        <div class="content">
            <h1 class="text-center d-sm-block d-md-none">Bienvenue</h1> <br>
    
            <h2 class="text-center">Recherche</h2> <br> <br>

            <form action="{% url 'search_song' %}" method="get" class="mb-3">
                <div class="input-group">
                    <input type="text" name="query" class="form-control" placeholder="Rechercher un titre">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">
                            <img src="{% static 'images/search.png' %}" width="16px" height="12px" alt="Mon image">
                        </button>
                    </div>
                </div>
            </form> <br>
    
            {% for subject_item in data %}
                <h2 class="text-center">Subject : {{ subject_item.subject }} </h2> <br>

                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center"><h3>Titre</h3></th>
                            <th scope="col" class="text-center"><h3>Option</h3></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for title in subject_item.titles %}
                            <tr>
                                <td class="text-center" style="font-size: 18px;">{{ title }}</td>
                                <td class="text-center"><a href="{% url 'details_song' title %}" 
                                    class="btn btn-success">Afficher</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endfor %}
        </div>
    </div>

    <!-- Footer -->
    <footer class="footer mt-auto py-3">
        <div class="container text-center">
            <p>© 2023 DLBC Sénegal</p>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
