{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>App</title>
    <!-- Incluez des liens vers vos fichiers CSS ici -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body style="background-color: rgb(255, 255, 255);">

    <div class="container-fluid mt-5" style="max-width: 65%; flex: 1;">
        <div class="content">

            <div  style="    display: flex;
            align-items: center;justify-content: center; height: 10vh; /* Ajustez la hauteur en fonction de vos besoins */">
                <a href="../../signed/authentication" 
                class="btn btn-success" style="width: 600px; font-size: 24px;">Se connecter</a>

            </div>

            <h1 class="text-center d-sm-block d-md-none">Bienvenue</h1> <br>

            <h2 class="text-center">Recherche</h2> <br> <br>

            <form action="{% url 'search_song' %}" method="get" class="mb-3">
                <div class="input-group">
                    <input type="text" name="query" class="form-control" placeholder="Rechercher un titre">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">
                            <img src="{% static 'images/search.png' %}" width="16px" height="12px" alt="Mon image">
                        </button>
                    </div>
                </div>
            </form> <br>
    
            {% for subject_item in data %}

                <h2 class="text-center" style="margin-top: 50px;">Subject : {{ subject_item.subject }} </h2>

                    {% for title in subject_item.titles %}
                        <hr>
                        <a href="{% url 'details_song' title %}" style="background-color: rgb(43, 115, 172);">         
                            <h4 class="text-center"  style="font-size: 24px;">{{ title }}</h4>
                        </a>

                    {% endfor %}
            {% endfor %}
        </div>
    </div>

    <!-- Footer -->
    <footer class="footer mt-auto py-3">
        <div class="container text-center">
            <p>© 2023 DLBC Sénegal</p>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
